// https://dribbble.com/shots/2300532-Design-taught-me-good-ol-American-freedom
$blue-dark: #01395E;
$white: #F6F6F3;
$red: #ED272D;
$red-light: #F29B9C;
$blue-light: #B9C7CE;
$blue-gray: #7A93A5;

$clr-bg: darken(desaturate($blue-dark, 50%), 7%);
$clr-txt: $white;
